@tailwind base;
@tailwind components;
@tailwind utilities;

/* Center the toggle button on smaller screens */
/* .toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem; 
    top: 1rem; 
  } */
  
@media (min-width: 768px) {
    .toggle-button {
      display: none;
    }
  }